body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* 'Source Sans Pro', 'Roboto', 'Inter', 'Nunito', 'Open Sans',  */
body {
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bolder;
}

header p {
  margin: 5px 0;
  color: #777;
}

h2 {
  border-bottom: 2px solid #aaa;
  padding-bottom: 2px;
  margin-top: 30px;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  margin: 10px 0 5px;
  font-weight: 500;
  padding-left: 5px;
  font-size: 16x;
}

section ul {
  padding-left: 5px;
}

section ul li {
  padding-left: 15px;
  margin-bottom: 8px;
  list-style-position: inside; /* default */
  
}

span {
  float: right;
  font-weight: normal;
  color: #000000;
}

/* Font classes */
.inter        { font-family: 'Inter', sans-serif; }
.roboto       { font-family: 'Roboto', sans-serif; }
.opensans     { font-family: 'Open Sans', sans-serif; }
.lato         { font-family: 'Lato', sans-serif; }
.helvetica    { font-family: Helvetica, Arial, sans-serif; }
.montserrat   { font-family: 'Montserrat', sans-serif; }
.poppins      { font-family: 'Poppins', sans-serif; }
.nunito       { font-family: 'Nunito', sans-serif; }
.raleway      { font-family: 'Raleway', sans-serif; }
.sourcesans   { font-family: 'Source Sans Pro', sans-serif; }
